$azulFuerte: #2f8eab; //titulos
$grisLineas: #a0a4a4;
.Header {
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid $grisLineas;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .CanvasContainer {
    position: relative;
    width: 0;
    height: inherit;
    #MyCanvasLinesHeader {
      height: inherit;
    }
  }
  .NameAndJob {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-end;
    min-width: 150px;
    h2 {
      color: $grisLineas;
      text-align: end;
    }
    h4 {
      color: black;
    }
  }
}
.Header ul {
  display: flex;
  list-style: none;
  margin: 0 5vw 0 0; 
}
.Header ul li a {
  color: $azulFuerte;
  margin: 0 10px;
  text-decoration: none;
}
.is-selected {
  border-bottom: 3px solid $grisLineas;
}
