.Header {
  height: 10vh;
  background-color: rgb(36, 36, 36);
  border-bottom: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Header ul {
  display: flex;
  list-style: none;
  margin: 0 15%;
  font-size: 2vw;
}
.Header ul li a {
  color: whitesmoke;
  margin: 0 10px;
  text-decoration: none;
}
.is-selected {
  border-bottom: 3px solid rgba(145, 41, 41, 0.918);
}
@media (max-width: 767px) {
  .Header ul {
    font-size: 4vw;
  }
}