.SkillBlack {
  background: black;
  border: 1px solid gray;
  border-radius: 15px;
  width: 25vw;
  height: 15vh;
  display: flex;
  margin: 0 0.5em 0.5em 0;
  color: white;
  @media (max-width: 1025px) {
    width: 30em;
  }
  .container-imagen {
    margin: auto 10px;
  }
  img {
    transform: translate(0, -5px);
    box-shadow: 5px 5px 5px #666;
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
  .Skill-Container {
    padding: 2% 0;
  }
  .Skill-Container h4 {
    margin: 0 0 0.5em 0;
  }
  &:hover {
    box-shadow: 5px 5px 5px #666;
  }
}
.SkillWhite {
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  width: 25vw;
  height: 15vh;
  display: flex;
  margin: 0 0.5em 0.5em 0;
  @media (max-width: 1025px) {
    width: 30em;
  }
  .container-imagen {
    margin: auto 10px;
  }
  img {
    transform: translate(0, -5px);
    box-shadow: 5px 5px 5px #666;
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
  .Skill-Container {
    padding: 2% 0;
  }
  .Skill-Container h4 {
    margin: 0 0 0.5em 0;
  }
  &:hover {
    box-shadow: 5px 5px 5px #666;
  }
}
