.AboutMeOviedo {
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img {
    background: red;
    min-width: 300px;
    max-width: 500px;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    h1 {
      margin: 2rem 0;
			color: white;
    }
    p {
      color: white;
			font-weight: 300;
    }
  }
}
