.Works{
  background-color: rgba(241, 241, 241, 0.884);
  text-align: center;
  padding: 50px 10%;
}
.Works h2{
  font-size: 50px;
}
.cards{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .cards{
    display: block;
  }
}