@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}