.SkillOviedo {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  .Border {
    border: 3px dashed orangered;
    width: 0px;
    height: 80px;
  }
  h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 1rem 0;
    @media (max-width: 1024px) {
      font-size: 2em;
    }
  }
}
