$white: #fff;
$black: #000;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}
:host {
  // Base styles
  .cardBase {
    float: left;
    width: 100%;

    .wrapper {
      min-height: 540px;
      position: relative;
      overflow: hidden;
      box-shadow:
        0 19px 38px rgba($black, 0.3),
        0 15px 12px rgba($black, 0.2);
      &:hover {
        .data {
          transform: translateY(0);
        }
      }
    }
    .data {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
      background: rgb(255, 255, 255);
      background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
      .content {
        padding: 1em;
        position: relative;
        z-index: 1;
      }
    }
    .author {
      font-size: 12px;
    }
    .title {
      margin-top: 10px;
    }
    .text {
      height: 70px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox']:checked {
      transform: translateY(-60px);
    }
  }

  // Second example styles
  .example-2 {
    .wrapper {
      &:hover {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }

    .data {
      color: $white;
      transform: translateY(calc(70px + 4em));
    }
    .title {
      a {
        color: $white;
      }
    }
    .button {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: $white;
      line-height: 1;
      position: relative;
      font-weight: 700;
      &::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
      &:hover {
        &::after {
          transform: translate(5px, -50%);
          opacity: 1;
        }
      }
    }
  }
}
