:host {
  border: 1px solid red;
  border-radius: 10px;
  width: 320px;
  height: 500px;
  margin: 10px;
  .WorkContainer {
    border-radius: inherit;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}
