<!-- Modal -->
<div class="modalComponentContainer displayNone" id="myModal{{ data.id }}">
  <button class="modalCustom" (blur)="closeModal(data.id.toString())">
    <img [src]="data.poster" [alt]="data.poster" />
    <div class="contentContainer">
      <h3 class="display-4">{{ data.title }}</h3>
      <span>{{ data.date }}</span>
      <blockquote class="blockquote">
        <p class="mb-0">{{ data.description }}</p>
      </blockquote>
      <div class="buttonContainer">
        <a type="button" class="btn btn-success" href="{{ data.linkView }}"> Visitar </a>
        <a type="button" class="btn btn-light" href="{{ data.Link }}">Codigo</a>
      </div>
    </div>
  </button>
</div>
